nav{
    margin-top: 0;

    ul {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        padding-left: 0;
        
        li {
            box-sizing: border-box;
            width: 15%;
            max-width: 80px;
            height: 100px;
            list-style: none;
            margin: 0 20px;
    
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-decoration: none;
                color: inherit;
                h5 {
                    text-align: center;
                }
            }
            
            .navIcon{
                color: $primary;
            }

            :hover {
                .navIcon{
                    transform: scale(1.2);
                }
            }

        }
    }
}